h1{
    background-color: pink;
}
#p1{
    background-color: rgb(255, 152, 169);
}
h2{
    background-color: rgb(250, 130, 150);
}
#p2{
    background-color: rgb(247, 110, 133);
}
h3{
    background-color: rgb(249, 97, 123);
}
#p3{
    background-color: rgb(253, 88, 116);
}
h4{
    background-color: rgb(252, 70, 100);
}
#p4{
    background-color: rgb(254, 67, 98);
}
h5{
    background-color: rgb(249, 54, 86);
}
#p5{
    background-color: rgb(250, 43, 78);
}
h6{
    background-color: rgb(252, 19, 58);
}
#p6{
    background-color: rgb(255, 3, 45);
}