#head1{
    background-color:rgb(239, 11, 194);
    color: white;}
#p1{
    background-color:rgb(230, 148, 217);
}
#head2{
    background-color: rgb(235, 186, 226);
}
#p2{
    background-color:rgb(232, 201, 226) ;
}
#head3{
    background-color: rgb(235, 218, 231);
}
#p3{
    background-color:rgb(227, 210, 224) ;
}
#background{
    background-color: rgb(227, 171, 222);
}
#farsi{
    background-color: violet;
    color: white;
}
#contacth1{
    background-color: rgb(97, 167, 237);
}
#contacth2{
    background-color: blueviolet;
}